name: CI with Gradle

on:
  push:
    branches:
      - 'main'
      - 'feature/*'

env:
  S3_BUCKET_NAME: codedeploygithubaction
  AWS_REGION: ap-northeast-2
  CODEDEPLOY_NAME: toyCommunity
  CODEDEPLOY_GROUP: deploywithGitHubActions

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      # clean build
      - name: Build with Gradle
        run: ./gradlew clean build
        shell: bash

      # make directory
      - name: Make Directory for deliver
        run: mkdir deployTest

      # Jar 파일 Copy
      - name: Copy Jar
        run: cp ./build/libs/*.jar ./deployTest/

      #
      - name: Make zip file
        run: zip -r -qq -j ./deploy.zip ./deployTest
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # S3 이관
      - name: Upload to S3
        run: |
          aws s3 cp \
          --region ${{ env.AWS_REGION }} 
          ./deploy.zip s3://${{ env.S3_BUCKET_NAME }}/deploy.zip

#      - name: Code Deploy
#        run: |
#          aws deploy create-deployment
#          --application-name $CODEDEPLOY_NAME
#          --deployment-config-name CodeDeployDefault.AllAtOnce
#          --deployment-group-name $CODEDEPLOY_GROUP
#          --s3-location bucket=$S3_BUCKET_NAME,bundleType=zip,key=$GITHUB_SHA.zip

